<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <!--Add a nav bar here -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Premium Cars, Inc.</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/djangoapp">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/djangoapp/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/djangoapp/contact">Contact Us</a>
                    </li>
                </ul>        
        
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li>
                <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                <a class="btn btn-link" href="{% url 'djangoapp:add_review' dealer.id %}">Add Review</a>
            </li>
            {% else %}
            <li>
                <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <!-- <input type="text" class="form-control" placeholder="Username" name="username" >
                        <input type="password" class="form-control" placeholder="Password" name="psw" > -->
                        <!-- <button class="btn btn-primary" type="submit">Login</button> -->
                        <a class="btn btn-link" href="{% url 'djangoapp:login' %}">Login</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                    </div>
                </form>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

    <!-- Add reviews as cards -->
     <main class="container" style="padding: 3%;">
        <div class="card-columns">
            {% if reviews %}
                {% for review in reviews %}
                    <div class="card bg-light mb-3" style="height: 300px; overflow: scroll; overflow-x: hidden;">
                        <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-left" style="height: 100px; width: 100px; margin-left: 35%; margin-bottom: 5%; margin-top: 2%;">
                        <div class="card-body" style="text-align: center;">
                            <h4 class="card-title">{{ dealer.full_name }}</h4>
                            <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                            <h5 class="card-title">{{ review.car_year }}</h5>
                            <p class="font-italic">{{ review.review }}</p>
                        
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h4 style="text-align: center">Sorry, No Reviews, Yet!!</h4>
            {% endif %} 
        </div>
    </main>
    </body>

</html>